{% extends "portfolio/base.html" %}
{% load static %}

{% block content %}
<div class ="text-center mb-5">
    <h2 class="fw-bold">My skills</h2>
    <p class="text-muted">technical skills </p>
</div>

<div class=" row">
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm border-0 p-4 h-100">
            <h3 class=" text-info text-primary mb-3">HARD SKILLS</h3>
            <ul class=" list-group list-group-flush">
                <li class=" text-info list-group-item d-flex justify-content-between align-items-center">
                    python (OOP, Basic)
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    HTML, CSS
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Django
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    SQL
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    GIT & GitHub
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm border-0 p-4 h-100">
            <h3 class="text-primary mb-3">SOFT SKILLS</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    critical thinking
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    time-managemant
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    open-mind
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    comunnicative
                </li>
            </ul>
        </div>
    </div>\
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm border-0 p-4 h-100">
            <h3 class="text-primary mb-3 fw-bold">Hard Skills<h3>
                <ul class="list-group list fs-5">
                    <li class = "list-group-item d-flex justyfy-content-between align-items-center">
                        Python(OOP,  Basic)
                    </li>
                    <li class = "list-group-item d-flex justyfy-content-between align-items-center">
                        Django Framework
                    </li>
                    <li class = "list-group-item d-flex justyfy-content-between align-items-center">
                        HTML & CSS
                    </li>
                    <li class = "list-group-item d-flex justyfy-content-between align-items-center">
                        Git & GutHub
                    </li>
                </ul>
        </div>
    </div>
</div>
{% endblock %}